{% extends 'base.html.twig' %}

{% block title %}Калькулятор{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/all.css"/>
{% endblock %}
{% block body %}
    <div class="calculator">
        <h1 class="calculator__title">Калькулятор</h1>
        <form class="form calculator__form" id="calculator" action="" method="post">
            <div class="input-group">
                <div class="input-group__label">Аргумент 1</div>
                <input class="input-group__input" id="calculator__left" name="left" type="text"/>
            </div>
            <div class="input-group">
                <div class="input-group__label">Операция</div>
                <select class="input-group__input" id="calculator__operator" name="operator">
                    <option disabled selected></option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group__label">Аргумент 2</div>
                <input class="input-group__input" id="calculator__right" type="text" name="right"/>
            </div>
            <div class="input-group">
                <button class="input-group__submit">Вычислить</button>
            </div>
        </form>
        <div class="calculator__result">
            5 * 6 = 30
        </div>

    </div>
{% endblock %}
